nav {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: #323233;
  position: fixed;
  left: 0;
  top: 0;
  padding: 7.5px 20px;
  width: calc(100vw - 40px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 14px;
  color: #eee;
  & > .settings {
    & > ul {
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 15px;
    }
  }
  & > .options,
  & > .settings {
    width: 100%;
    text-align: right;
  }
}
