:host {
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: var(--bg-alt-1);
    }
    &::-webkit-scrollbar-thumb {
        background: var(--fg-alt-4);
    }
    & ::ng-deep > *:not(:last-child) {
        margin-bottom: 20px;
    }

    & ::ng-deep > *:not(:hover):not(.selected) {
        opacity: 0.95;
    }
}