nav {
    background-color: #007acc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100vw - 40px);
    padding: 4px 20px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    & ul {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
}