:host {
	width: 100%;
	height: 100%;
	background-color: var(--bg-alt-1);
	resize: horizontal;
	overflow: auto;
	box-sizing: border-box;
	width: 30vw;
	position: relative;
	& > div {
		padding: 0 20px;
	}
	&::after {
		position: absolute;
		content: '';
		height: 100%;
		width: 5px;
		right: 0;
		top: 0;
		cursor: e-resize;
	}
}

h3 {
	padding: 20px 20px 15px;
	color: var(--fg-main);
	font-size: 1rem;
	font-weight: 600;
}

hr {
	margin: 0 20px 20px;
	border: none;
	border-top: 1px solid var(--fg-alt-4);
}

.empty-workspace {
	color: var(--fg-alt-2);
	display: flex;
	flex-direction: column;
	row-gap: 12.5px;
	& > p {
		font-size: .9rem;
	}
	& > .btn {
		position: relative;
		& > input[type=file] {
			position: absolute;
			left: 0;top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}
		& > input:hover ~ label button  {
				background: var(--accent--hover);
			
		}
		& button {
			width: 100%;
			color: var(--fg-alt-1);
			background: var(--accent);
			padding: 7.5px 0;
			border: none;
			border-radius: 2px;
			transition: background .2s ease;
		}
	}
}